<header class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topMenu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" [routerLink]="['Index']">{{ AppName }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class=" collapse navbar-collapse " id="topMenu ">
                <ul class="nav navbar-nav ">
                    <li><a [routerLink]="['Home']">Home</a></li>
                    <li><a [routerLink]="['Events']">Events</a></li>
                   
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li *ngIf="!userAuth"> <a [routerLink]="['Login']">Login</a></li>
                    <li *ngIf="userAuth"> <a (click)="logOff()">LogOff</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main class="container">
    <router-outlet></router-outlet>
</main>

<footer class="container">
    <div class="pull-right"> <a href="http://gausmann-media.de">Gausmann-Media.de</a></div>
</footer>

<pre> {{ userAuth | json }}</pre>
